@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&family=Montserrat:wght@400;500;600&display=swap');
.title_of_shop,
.title_of_form,
.product_name_p{
    color: #475F7B;
    font-family: 'IBM Plex Sans', sans-serif;
    text-decoration: none;
}
.title_of_form{
    color: #727E8C;
    margin-bottom: 15px;
}

.create_button,
.delete_button{
    cursor: pointer;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(90,141,238,.5);
    border: 0 solid transparent;
    border-radius: 3px;
    padding: 7px 22px;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    line-height: 20px;
    background-color: #5A8DEE;
    color: #FFF;
    width: max-content;
    height: 34%;
    text-align: center;
    outline: none;
    margin-bottom: 15px;
    text-decoration: none;
    box-sizing: border-box;
}
.delete_button{
    height: auto;
    margin-left: auto;
}
.create_button:hover{
    background-color: #719DF0;
    box-shadow: 0 4px 12px 0 rgba(90,141,238,.6);
}

.form{
    display: flex;
    flex-direction: column;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #727E8C;
    width: 400px;
}
.page{
    margin-left: 30px;
}

.label_for_name_category{
    margin: 5px 0;
}

.input,
.select,
.textarea{
    outline: none;
    border-radius: 6px;
    border: 1px solid #DFE3E7;
    padding: 5px;
    color: #727E8C;
    margin-bottom: 10px;
}
.input{
    width: 100%;
}
#input{
    margin-left: 10px;
    margin-bottom: 0px;
}
.select_category_block{
    margin-bottom: 10px;
}



.is_nil_block{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.textarea{
    resize: none;
    width: 100%;
    height: 100px;
}

.load_image_btn input{
    display: none;
}

.load_image_btn{
    cursor: pointer;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(90,141,238,.5);
    border: 0 solid transparent;
    border-radius: 3px;
    padding: 7px 22px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-color: #5A8DEE;
    color: #FFF;
    width: max-content;
    height: 34%;
    text-align: center;
    outline: none;
    margin-bottom: 15px;
    text-decoration: none;
    box-sizing: border-box;
}
.product_block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #DFE3E7;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #727E8C;
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 15px;
}
.image_and_name_of_product_block{
    display: flex;
    flex-direction: row;
}
.product_image{
    width: 200px;
    height: 200px;
    margin-right: 20px;
    border-radius: 6px;
}
.price_block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.price{
    font-weight: 600;
    border: 1px solid #DFE3E7;
    border-radius: 6px;
    padding: 10px 25px;
    height: max-content;
    margin-left: 100px;
}
.product_name_p{
    font-weight: 500;
    text-decoration: none;
}