{% extends "layout.html" %}
{% block body %}
<h3 class="title_of_form">Создание категории:</h3>
<form method="POST" action="{{ url_for('admin_routs.create_category') }}" class="form">
    <label for='category_name' class="label_for_name_category">Название категории</label>
    <input class="input" id='category_name' placeholder="Введите название категории" name="name" required>
    <div class="select_category_block">
        <label>Выберите родительскую категорию</label>
        <select name='parent' class="select">
            <option selected>Не выбрана</option>
            {% for parent in parents %}
                <option>{{parent.name}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="is_nil_block">
        <label for='nilChiNot'>Это конечная категория?</label>
        <input type="checkbox" id='nilChiNot' name='isNil'>
    </div>
    <input type=submit value='Создать' class="create_button">
</form>
{% endblock %}