{% extends "layout.html" %}
{% block body %}
<h3 class="title_of_form">Создание товара:</h3>
<form method="POST" enctype="multipart/form-data" action="{{ url_for('admin_routs.create_product') }}" class="form" >
    <label for='product_name' class="label_for_name_category">Название товара</label>
    <input class="input" id='product_name' placeholder="Введите название товара" name="name" required>
    <div class="select_category_block">
        <label>Выберите категорию товара</label>
        <select name='category' class="select" required>
            <option selected>Не выбрана</option>
            {% for category in categories %}
                <option>{{category.name}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="is_nil_block">
        <label for='product_price'>Цена</label>
        <input class="input" type="number" id='product_price' name='price' placeholder="0-1000000" required/>
    </div>
    <div>
        <label for='product_summary'>Описание товара</label>
        <textarea class="textarea"  id='product_summary' name='summary' placeholder="Введите описание товара" required> </textarea>
    </div>
    <div>
        <label for='product_characteristic'>Характеристики товара</label>
        <textarea class="textarea"  id='product_characteristic' name='characteristic' placeholder="Введите характеристики товара" required></textarea>
    </div>
    <label>
        <input type="file" name='image' accept=".png, .jpg, .jpeg">
    </label>
    <input type=submit value='Создать' class="create_button">
</form>
{% endblock %}