.button{
    padding: 12px 30px;
    cursor: pointer;
    border-radius: 6px;
    border: none;
    color: #fff;
    background-color: #d58520;
    transition: 0.5s;
    font-weight: 500;
    outline: none;
}

.button:hover{
    color: #50384f;
    transition: 0.5s;
}